body {
  background-color: #eee;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  text-align: center;
  margin: 10% 25%;
  line-height: 1.6em;
}
code {
  font-family: "Courier New", monospace;
  background-color:#fff;
  padding: 3px 3px;
  border-radius: 3px;
}
p {
  text-align: justify;
}
p.pills {
  margin: 2em;
  text-align: center;
}
p.pills a {
  padding: 6px 15px;
  border-radius: 3px;
  margin: 10px 15px;
}
a.active {
  background-color: #666;
  color: #eee;
}
p.foot {
  position: fixed;
  bottom: 10px;
  right: 10px;
  opacity: 0.7;
}
